footer{
    background-color: #fde4e4;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 10px 30px;
}
.footer--one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'first second third fourth';
    gap: 10px;
    align-content: center;
}
#firstft{
    grid-area: first;
    width: 250px;
}
#secondft{
    grid-area: second;
    width: 250px;
}
#thirdft{
    grid-area: third;
    width: 250px;
}
#fourthft{
    grid-area: fourth;
}
.footer--one--div--p{
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.footer--logo--div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.footer--logo--caption{
  font-size: 20px;
  white-space: nowrap;
  font-weight: 700;
  padding-left: 0px;
}
.footer--caption--p{
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-top: 20px;
}
.newsletter{
    padding-right: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #212245;
    border-radius: 5px;
    display: flex;
}
.newsletter--input{
    width: 200px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
}
.newsletter--input:active{
    border: none;
    outline: none;
}
.newsletter a{
    background: #df2020;
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
}

/*********************************************/

.footer--two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    color: #df2020;
    margin-top: 30px;
}
.footer--two p{
    color: #df2020;
}
.footer--two ul{
    display: flex;
    flex-direction: row;
}
.footer--two ul a{
    color: #df2020;
}
.footer--two ul a:hover{
    color: #212245;
}
.footer--two ul li{
    font-size: 22px;
    margin-left: 10px;
}
.footer--two ul  li:first-child{
    color: black;
}
.footer--h5{
    font-size: 20px;
    font-weight: 600;
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
    .footer--one{
        flex-direction: row;
        padding: 10px 10px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer--one--div{
        min-width: 400px;
        padding-left: 10px;
    }
}
@media screen and (max-width: 700px) {
    footer{
        padding: 10px 20px;
        overflow-x: hidden;
    }
    .footer--one{
        padding: 10px 10px;
    }
}
@media screen and (max-width: 400px) {
    .footer--one{
        display: flex;
        flex-direction: column;
    }
    .footer--logo--div{
        align-items: flex-start;
    }
    .footer--logo--div img{
        width: 20%;
    }
    .footer--logo--caption{
        font-size: 1rem;
        padding-left: 0px;
    }
    .footer--caption--p{
        font-size: 14px;
    }
    .footer--one--div h3{
        font-size: 12.8px;
        font-weight: 800;
    }
    .footer--h5{
        font-size: 12.8px;
        font-weight: 700;
    }
    .footer--one{
        padding: 0;
    }
    .footer--one--div{
        padding-left: 0;
        margin-top: 0;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
    }
    .footer--one--div--p{
        font-size: 11.2px;
    }
    .footer--two p{
        font-size: 12.8px;
        text-align: center;
    }
    .footer--two ul li{
        font-size: 12.8px;
        margin-left: 0;
        margin-right: 10px;
    }
    .newsletter{
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        border: 1px solid #212245;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }
    .newsletter--input{
        width: 80%;
        padding: 10px 20px;
        font-size: 12.8px;
        background-color: transparent;
        border: none;
        outline: none;
    }
    .newsletter a{
        padding: 5px 20px 0px 20px;
    }
    .newsletter a i{
        font-size: 0.6rem;
        line-height: normal;
    }
}