@import url('./assets/fa/css/all.css');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark: rgb(33, 34, 69);
  --red: #DF2020;

  color-scheme: light dark;
  color: var(--dark);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
}
body{
  background-color: #fcfcfc;
}
nav{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 130px;
}
.nav--logo--div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
}
.logo--caption{
  font-size: 20px;
  font-weight: 700;
}
.nav--links{
  display: flex;
  gap: 3rem;
}
.nav--a{
  text-decoration: none;
  color: var(--dark);
  font-size: 1.3rem;
  font-weight: 600;
}
.nav--a:hover{
  color: var(--red);
}
.nav--a:active{
  color: var(--red);
}
.nav--icon{
  display: flex;
  gap: 1.5rem;
}
#menu-icon{
  display: none;
}
.fas{
  font-size: 1.3rem;
}

.header{
  height: 586px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 60px 130px;
  margin: 15px 0 30px 0;
}
.header--div1{
  width: 50%;
  padding: 70px 0 0;
}
.header--div2{
  width: 50%;
}
.hero--img{
  width: 606px;
  height: 606px;
}
.header--h5{
  font-size: 1.45rem;
  font-family: "RocknRoll One", sans-serif;
  margin: 0 0 16px;
}
.red--span{
  color: var(--red);
}
.header--h1{
  font-family: 'RocknRoll', sans-serif;
  font-size: 60px;
  margin: 0;
  line-height: 70px;
}
.header--p{
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 40px;
  color: #4b4b4b;
}
.header--btn1{
  padding: 15px 25px;
  background-color: var(--red);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  margin-right: 60px;
  font-size: 20px;
  font-weight: 700;
}
.header--btn1:hover{
  background-color: var(--dark);
}
.header--btn2{
  padding: 15px 25px;
  background-color: white;
  color: var(--red);
  text-decoration: none;
  border: 1px solid var(--red);
  border-radius: 8px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 700;
}
.header--btn2:hover{
  color: white;
  background-color: var(--red);
}
.header--iconDiv{
  margin-top: 45px;
  display: flex;
  gap: 80px;
}
.icon-text{
  color: var(--dark);
  font-weight: 600;
  font-size: 18px;
  font-family: sans-serif;
}
.header--icon{
  color: white;
  background-color: var(--red);
  border: none;
  padding: 5px;
  margin-right: 10px;
  border-radius: 20px;
  font-size: 18px;
}


@media screen and (max-width: 1395px) {
  .header{
    height: max-content;
  }
  .header--div2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero--img{
    width: 100%;
    height: auto;
  }
  .header--btn2{
    display: block;
    margin-top: 25px;
    width: max-content;
    margin-bottom: -60px;
  }
  #sidemenu{
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .header{
    flex-direction: column;
    padding: 10px 50px;
    margin-bottom: -50px;
  }
  .header--div1{
    width: 100%;
  }
  .header--btn2{
    margin-bottom: -40px;
  }
  .header--div2{
    width: 100%;
  }
  .hero--img{
    width: 100%;
    height: auto;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
  }
  .nav--links{
    display: none;
  }
  #menu-icon{
    display: block;
    z-index: 10;
  }
  #sidemenu{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    z-index: 10;
  }
  .transparent--half{
    width: 40%;
    content: '';
    background-color: rgba(10, 10, 10, 0.5);
    height: 100%;
  }
  .main--half{
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
  }
  #sidemenu-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.3rem;
    margin-bottom: 100%;
  }
  .sidemenu--links{
    color: black;
  }
  .sidemenu--links:hover{
    color: var(--red);
    text-decoration: underline;
  }
}
@media screen and (max-width: 400px) {
  .nav{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
  }
  .header{
    padding: 10px 30px;
    overflow-x: hidden;
  }
  .nav--logo--div{
    align-items: flex-start;
  }
  .nav--logo--div img{
    width: 41px;
    height: 41px;
  }
  .nav--logo--div caption{
    font-size: 15px;
  }
  .nav--a{
    font-size: .5rem;
  }
  .header--div1{
    padding-top: 0px;
  }
  .header--h5{
    font-size: 1.2rem;
  }
  .header--h1{
    font-size: 3rem;
    line-height: 1.2;
  }
  .header--p{
    font-size: 1rem;
  }
  .header--btn1{
    font-size: 1rem;
    padding: 10px 20px;
  }
  .header--btn2{
    padding: 10px 20px;
    font-size: 1rem;
  }
  .header--iconDiv .icon-text{
    font-size: 14px;
  }
  .header--iconDiv .icon-text .header--icon{
    font-size: 14px;
  }
}