
.testimonial{
    background-color: #fcfcfc;
    width: 100%;
    display: flex;
    padding: 20px 130px;
    height: 560px;
    margin-top: 60px;
}
.testimonial--text--div{
    width: 50%;
    position: relative;
    top: -110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.testimonial--text--div h5{
    color: #DF2020;
    font-size: 1.8rem;
    font-weight: 600;
}
.testimonial--text--div p{
    color: rgb(119, 119, 119);
    line-height: 40px;
    font-size: 20px;
}
.testimonial--text--div h2{
    margin: 25px 0;
    font-size: 2.5rem;
}
.testimonial--image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial--image img{
    width: 100%;
    position: relative;
    top: -150px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1300px) {
  .testimonial{
    margin-top: 100px;
  }
}
@media screen and (max-width: 1200px) {
    .testimonial{
        flex-direction: column;
        margin-bottom: 400px;
        margin-top: 20px;
        width: 100%;
    }
    .testimonial--text--div{
        width: 100%;
        margin-bottom: 20px;
    }
    .testimonial--image{
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .testimonial--image img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
}
/* @media screen and (max-width: 1200px) {
  .testimonial{
    padding: 10px 50px;
    margin-bottom: 450px;
  }
  .testimonial--image{
    width: 80%;
    margin: 0 auto 0 auto;
  }
} */
@media screen and (max-width: 900px) {
  .testimonial{
    padding: 10px 50px;
  }
}
@media screen and (max-width: 400px) {
  .testimonial{
    padding: 10px 30px;
    margin-bottom: 10px;
  }
  .testimonial--text--div h5{
    font-size: 16px;
  }
  .testimonial--text--div h2{
    font-size: 33.6px;
    margin: 12px 0;
  }
  .testimonial--text--div p{
    font-size: 12.8px;
    color: black;
    line-height: normal;
  }
}